p#sid{
    font-size: 30px;   
     padding: 15px 161px;
        background: none;
        margin-bottom: 0px;
        display: block;
}
button#signUp,button#signIn,button#signOut{
    margin-left: 25PX;
    width: 90px;
    height: 35px;
    border-radius: 9px;
    background-color: rgba(73, 145, 117, 0.196);
    margin-top: 25px;
    margin-bottom: -25px;
}
